<!DOCTYPE html>
<html>
<head><title></title></head>
<body>
<script src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    // window.parent.closeModal(); // If bootstrap modal is used
    window.close();
  })
</script>
</body>
</html>