<!DOCTYPE html>
<html>
<head>
  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
</head>
<body>
  <div>
    <a class="btn btn-success large" href="#humanApiModal" data-toggle="modal">connect human/api</a>
  </div>

  <div id="humanApiModal" class="modal hide fade large" tabindex="-1" role="dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    </div>
    <div class="modal-body">
      <iframe src="" style="margin: 0 auto;" width="520px" height="400px" marginheight="0" frameborder="0"></iframe>
    </div>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function() {
    window.closeModal = function() {
      $('#humanApiModal').modal('hide');
    };
    var frameSrc  = '/auth/humanapi';
    $('#humanApiModal').on('show', function () {
      $('iframe').attr("src",frameSrc);
    });
  });
  </script>
</body>
</html>

